<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Registration Form</title>
  </head>
  <body>
    <section class="pb-5">
      <div class="container p-5">
        <h1 class="text-center">Register</h1>

        <form class="row g-3" action="{{url_for('register')}}" method="POST">
          {{ form.hidden_tag() }}
          <div class="col-md-4">
            {{form.firstname.label(class="form-label")}}

            {% if form.firstname.errors %}
              {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.firstname.errors %}
                      <span> {{ error }} </span>
                    {%endfor%}
                </div>
            {% else %}
              {{form.firstname(class="form-control form-control-lg")}}
            {% endif %}
          </div>

          
          <div class="col-md-6">
            {{form.email.label(class="form-label")}}

            {% if form.email.errors %}
              {{ form.email(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                      <span> {{ error }} </span>
                    {%endfor%}
                </div>
            {% else %}
              {{form.email(class="form-control form-control-lg")}}
            {% endif %}
          </div>


          <div class="col-md-6">
            {{form.save(class="btn btn-lg btn-primary")}}
          </div>



        </form>

      </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>

  </body>
</html>
